@using TodoApp.Models
@model User
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    string helloClass = null;
}

<script src="~/js/index.js"></script>

<div class="jumbotron">
    <h1 class="display-3">ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p class="lead">
        
    </p>
    <a id="ahh"></a>
</div>
<div class="row">
    <h3 title="@Model.Name" class="@helloClass">Hello @Model.Name!</h3>
    <a href="#" onclick="CreateTask()" class="btn btn-primary btn-large" role="button">Create Task</a>
    <a href="#" onclick="EditTask()" class="btn btn-primary btn-large" role="button">Edit Task</a>
    <a href="#" onclick="DeleteTask()" class="btn btn-primary btn-large" role="button">Delete Task</a>
</div>

<ul id="task-list-group" class="list-group">
  <li class="list-group-item">
      Cras justo odio
      <button type="button" onclick="TogglePopovernte(this)" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </li>
</ul>

<div class="input-group">
    <input id="task-create-input" type="text" class="form-control" placeholder="Enter task...">
    <span class="input-group-btn">
        <button class="btn btn-secondary" type="button" onclick="CreateTask(this)">Submit!</button>
    </span>
</div>

<!-- Example task -->

<div id="task" hidden>
<li class="list-group-item" id="plac">
    <a href="#" id="task-link" onclick="TogglePopover(this)">ah</a>
      <button type="button" onclick="RemoveTask(this)" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
  </li>
</div>

<!-- Task edit-->

<div id="task_edit_content" hidden>
    <div class="input-group">
        <input type="text" class="form-control" id="task_edit_input" placeholder="Enter task description here...">
        <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit">Update!</button>
        </span>
    </div>
</div>

<div id="task_edit_header" hidden>
    Update Task
    <button type="submit" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
